@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Oxygen);

body{
	font-family: 'Noto Serif', serif;
}

header{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;

}

img{

}

nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
	text-align: right;
	font-family: 'Noto Serif', serif;
}

a{
	text-decoration: none;
	color: #000;
	padding: 20px;
}

h1{
	font-family: 'Oxygen', sans-serif;
 	text-align: center;
	font-size: 48px
}

main{
    padding: 20px;
}

section{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

p{
  
}

div{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}

figure{

}

footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
	text-align: center;
	color: #fff;
}

h2{

}

small{

}

#logo{

}

#slogan{

  font-family: 'Istok Web', sans-serif;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 20px;
  
}

#main_image{

}

#homepage_main_image{

}

#intro{
	
}