body{
  font-family: Helvetica, sans-serif;
}

header{

}

img{

}

nav{

}

h1{
  text-align: center;
  font-size: 48px
}

main{

}

p{
  
}

figure{

}

footer{

}

h4{

}

#logo{

}

#slogan{
  text-align: center;
  
}

#homepage_main_image{

}